@use "/src/sass/base/variables.scss" as *;

@mixin Slide {
    position: relative;
    min-height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin Button {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    padding: 15px 20px;
    width: 246px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #f3a917;
}