@use "/src/sass/libs/modern-normalize.min.css";
@use "/src/sass/base/basic.scss";


@use "/src/sass/ui/titles.scss";
@use "/src/sass/ui/buttons.scss";
@use "/src/sass/libs/fontello.css";

@use "/src/sass/blocks/header.scss";
@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/results.scss";
@use "/src/sass/blocks/footer.scss";