@use "/src/sass/base/variables.scss" as *;



.header {
    position: absolute;
    padding-top: 13px;
    z-index: 100;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: min(740px, 38.54vw);
    }

    &__line {
        margin-top: 28px;
        width: 100%;
        height: 1px;
        background-color: #F3A917;
    }

    &__socials {
        padding-right: 37px;
        display: flex;
        align-items: center;
        gap: 30px;
        list-style-type: none;

        a {
            display: block;
            color: $white;
            text-decoration: none;
            font-size: 23px;

        }
    }
}