@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;


.results {
    padding: 141px 0 152px 0;

    &__line {
        margin-top: 40px;
        width: 100%;
        height: 1px;
        background-color: #F3A917;
    }

    &__tabs {
        display: flex;
    }

    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 39px;
    }

    &__actual {
        margin-top: 100px;
        height: 340px;
        width: 100%;
        margin-right: 39px;
    }

    &__swiper {
        margin-top: 100px;
        width: 100%;
    }

    &__slide {
        padding: 30px;
        border-radius: 10px;
        height: 341px;
        background: #292a2f;
    }

    &__card {
        &-date {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 49px;
        }

        &-title {
            align-content: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.01em;
            color: $white;
        }

        &-time {
            margin-right: 23px;
            display: flex;
            text-align: center;
            flex-direction: column;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.01em;
            color: $white;

            span {
                text-align: center;
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: $white;
            }
        }

        &-line {
            margin-top: 19px;
            margin-left: 6px;
            width: 100% -6px;
            height: 1px;
            background-color: #F3A917;
        }

        &-wrapper {
            padding-top: 36.5px;
            display: grid;
            grid-template-rows: 50px 35px 35px 20px;
            row-gap: 15px;
        }

        &-team {
            display: flex;
            gap: 20px;

            img {
                width: 50px;
                height: 50px;
            }
        }

        &-names {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
            font-size: 20px;
            line-height: 130%;
            color: $white;
        }

        &-stakes {
            border: 1px solid #f3a917;
            padding: 5px 10px;
            width: 58px;
            height: 30px;
            text-align: center;
            align-content: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: $white;
        }

        &-starts {
            display: flex;
            align-content: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 12px;
            line-height: 167%;
            letter-spacing: 0.01em;
            color: $dark-grey;

            img {
                width: 58px;
                height: 15px;
            }
        }


    }

    &__arrows {
        margin: 55px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;

        &-next,
        &-prev {
            margin: 0;
            position: static;
            transform: none;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #f3a917;
            width: 85px;
            height: 85px;
        }

        .swiper-navigation-icon {
            visibility: hidden;
        }

        .swiper-pagination {
            margin: 0;
            width: auto;
            position: static;
            gap: 9px;
        }


        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background-color: $white;
            border-radius: 100%;
            opacity: 1;
            --swiper-pagination-bullet-horizontal-gap: 9px;

        }

        .swiper-pagination-bullet-active {
            background-color: #f3a917;
        }
    }


}