@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.results {
    padding-top: 141px;

    &__title-h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 141%;
        color: $white;
    }

    &__line {
        margin-top: 40px;
        width: 100%;
        height: 1px;
        background-color: #F3A917;
    }

    &__tabs {
        display: flex;
    }

    &__swiper {
        margin-top: 100px;
        width: 100%;
    }

    &__block {
        width: 100px;
        height: 100px;
        background-color: #fff;
    }


    &__wrapper {
        position: relative;
    }

    &__arrows {
        margin: 55px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;

        &-next,
        &-prev {
            margin: 0;
            position: static;
            transform: none;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #f3a917;
            width: 85px;
            height: 85px;
        }

        .swiper-navigation-icon {
            visibility: hidden;
        }

        .swiper-pagination {
            margin: 0;
            width: auto;
            position: static;
            gap: 9px;
        }


        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background-color: $white;
            border-radius: 100%;
            opacity: 1;
            --swiper-pagination-bullet-horizontal-gap: 9px;

        }

        .swiper-pagination-bullet-active {
            background-color: #f3a917;
        }

    }

}

.swiper-hash {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 350px;
    height: 341px;
    background: #292a2f;
}