@use "/src/sass/base/variables.scss" as *;

.title-h1 {
    font-weight: 700;
    font-size: 60px;
    color: $white;
}

.title-h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 141%;
    color: $white;
}